<h1>Share your feedback</h1>
<div class="container">
  <form (submit)="addFeedback(postForm)" #postForm="ngForm">
    <div class="form-group">
      <label>Login:</label>
      <input type="text" [(ngModel)]="login" name="login" class="form-control" #login_="ngModel" required>
      <div *ngIf="login_.invalid && submitted" class="alert alert-info">
        <div *ngIf="login_.errors.required">
          Login is required.
        </div>
      </div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" #email_="ngModel"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
      <div *ngIf="email_.invalid && submitted" class="alert alert-info">
        <div *ngIf="email_.errors?.required">
          Email is required.
        </div>
        <div *ngIf="email_.errors?.pattern">
          Type a correct email
        </div>
      </div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" #title_="ngModel" required>
      <div *ngIf="title_.invalid && submitted" class="alert alert-info">
        <div *ngIf="login_.errors?.required">
          Title is required.
        </div>
      </div>
      <label>Description:</label>
      <textarea [(ngModel)]="description" name="description" rows="5" class="form-control" #description_="ngModel"
                minlength="20" required></textarea>
      <div *ngIf="description_.invalid && submitted" class="alert alert-info">
        <div *ngIf="description_.errors?.required">
          Description is required.
        </div>
        <div *ngIf="description_.errors?.minlength">
          Description must be at least 20 characters long.
        </div>
      </div>
      <label>Rating:</label><br/>
      <ngx-input-star-rating [(ngModel)]="rating" name="rating" required #rating_="ngModel"></ngx-input-star-rating>
      <div *ngIf="rating_.invalid && submitted" class="alert alert-info">
        <div *ngIf="rating_.errors?.required">
          Please rate our product.
        </div>
      </div>
    </div>
    <div class="buttons">
    <input type="submit" class="btn btn btn-primary"  routerLink="/" value="Return">
    <input type="submit" class="btn btn btn-primary" value="Add">
    </div>
  </form>
</div>
